{% extends "base.html" %}
{% block content %}

<h1>Skin Image upload</h1>
<p class="comment">Find out if the skin lesion is normal or not. Upload image </p>
<dive class="col-xs-6">
    <form action="/upload" id="upload-file" method="post" enctype="multipart/form-data">
        <p class="comment">Select image to upload and press Detect:</p>
        <div class="custom-file">
            <input type="file" class="custom-file-input" name="file" id="customFile">
            <label class="custom-file-label" for="customFile">Choose file</label>

        </div>

        <div>
            <input type="submit" class="btn btn-success" id="btn-predict" value="Detect" />
        </div>
    </form>


    <h3 id="result">
        <span> </span>
    </h3>

</dive>
{% endblock %}